{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template assignsubmission_ilsp/mobile_view_ilsp

    Provides a mobile app template to display ILSP assignment submission plugin data.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

}}
{{=<% %>=}}
<div id="assignsubmission_ilsp_coversheets">
    <ion-item class="ion-text-wrap ng-star-inserted item md hydrated item-label">
        <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">
            <h2>{{ 'plugin.assignsubmission_ilsp.ilsp' | translate }}</h2>
            <p></p>
        </ion-label>
    </ion-item>
</div>
